<p id="notice"><%= notice %></p>

<h1>Listing Workdays</h1>


    <% @workdays.group_by{ |day| day.start_time.strftime("%B %Y")}.each do |group, workdays| %>
		<div class="alert alert-success">
				<% total_time = (workdays.select{|day| !day.end_time.nil? and !day.start_time.nil?}.map{|day| (day.end_time.to_f - day.start_time.to_f) }.inject(0,:+).to_i.abs)%>
				<strong><%= group%> - Total</strong>: <%= total_time / 60 / 60%>h <%= total_time / 60 % 60 %>m
		</div>
		<table class="table">
		  <thead>
			<tr>
			  <th>Date</th>
			  <th>Duration</th>
			  <th>Type</th>
			  <th>Comment</th>
			  <th colspan="3"></th>
			</tr>
		  </thead>
		<tbody>
		<% workdays.each do |workday| %>
			  <tr <%= 'style="background-color: lightgrey"'.html_safe if workday.start_time.try(:strftime, "%V").to_i % 2 == 0 %> >
			   <td><%= workday.start_time.try(:strftime,"%d.%m.%Y") %></td>
				<% if workday.end_time? %>
					<td><%= distance_of_time_in_words(workday.end_time - workday.start_time) %></td>
				<% else %>
					<td><i>Running</i></td>
				<% end %>
				<td><%= workday.category.title %></td>
				<td><%= workday.comment %></td>
				<td><%= link_to 'End', ending_workday_path(workday), class: 'btn btn-sm btn-dark' if workday.end_time.nil?%></td>
				<td><%= link_to 'Edit', edit_workday_path(workday), class: 'btn btn-sm btn-dark' %></td>
				<td><%= link_to 'Destroy', workday, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-dark' %></td>
			  </tr>
		<% end %>
		</tbody>
		</table>
    <% end %>

