<h1>New Workday</h1>

<%= form_for(@workday) do |f| %>
  <% if @workday.errors.any? %>
    <div id="alert alert-danger">
      <h2><%= pluralize(@workday.errors.count, "error") %> prohibited this workday from being saved:</h2>

      <ul>
      <% @workday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, Category.all.map{|c| [c.title, c.id]}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment, class: 'form-control' %>
  </div>
  <div>
    <br />
    <%= f.submit 'Submit', class: 'btn btn-dark' %>
  </div>
<% end %>


<%= link_to 'Back', workdays_path %>
